<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/libs/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/libs/jquery.min.js"></script>
    <script src="/libs/semantic.min.js"></script>
  </head>
  <body>
  <%- include('components/nav') %>
  <%- include('components/nav-setting') %>
  <%- include('components/notification') %>